@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova-Bold.ttf);
    font-weight: bold;
  }

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova-Regular.ttf);
    font-weight: normal;
}

.background-container {
    height: 4776px;
    background-image: url(../img/WOODER\ Free\ PSD\ Template.png);
    background-repeat: no-repeat;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: ProximaNova;
}