@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova-Bold.ttf);
}

  main .label-wooder {
    height: 859px;
  }

  /* left-slider */

  main .left-slider {
    position: relative;
    top: 42%;
    transform: rotate(90deg);
    float: left;
    width: 400px;
    height: 100px;
    margin-left: 178px;
  }

  main .left-slider div:nth-child(1) {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    float: left;
    width: 51px;
    height: 4px;
    background-color: #bea67c;
  }

  main .left-slider div:nth-child(2) {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    float: left;
    margin-left: 17px;
    color: #bea67c;
    font-family: "ProximaNova";
    font-size: 51px;
    letter-spacing: 6px;
  }

  main .left-slider div:nth-child(n + 3) {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    float: left;
    width: 10px;
    height: 10px;
    margin-left: 76px;
    margin-top: 2px;
    border-radius: 50%;
    background-color: #bea67c;
  }

  main .left-slider div:nth-child(4) {
    margin-left: 40px;
    background-color: #303030;
  }

  main .left-slider div:nth-child(5) {
    margin-left: 40px;
    background-color: #303030;
  }

  main .left-slider div:nth-child(6) {
    margin-left: 40px;
    background-color: #303030;
  }

  /* middle part */

  main .middle {
    position: relative;
    top: 28.5%;
    float: left;
    margin-left: 128px;
    font-family: 'ProximaNova';
    color: #bea67c;
    font-size: 101px;
    letter-spacing: 20px;
  }

  main .learn-more {
    width: 302px;
    height: 54px;
    margin-top: 37px;
    margin-left: 7px;
    border: solid 2px white;
    color: #ffffff;
    font-size: 101px;
    letter-spacing: 20px;
  }

  main .learn-more div {
    float: left;
    margin-top: 19px;
    margin-left: 83px;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 2px;
  }

  svg {
    float: left;
    display: block;
    margin-left: 12px;
    margin-top: 19px;
  }

  /* middle part -- scroll down*/

  main .scroll-down {
    width: 8px;
  }

  main .scroll-down img {
    float: left;
    margin-left: 6px;
    margin-top: 66px;
  }

  main .scroll-down svg {
    transform: rotate(90deg);
    float: left;
    margin-top: 29px;
    margin-left: 1px;
    
  }

  main .scroll-down .text {
    transform: rotate(90deg);
    float: left;
    width: 10px;
    margin-left: 11px;
    margin-right: 1px;
    margin-top: 30px;
    color: #1f1d1d;
    font-size: 14px;
    letter-spacing: 2px;

  }

@media (min-width: 768px) and (max-width: 1200px) {
}

@media (min-width: 320px) and (max-width: 768px) {
}