header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 86px;
  background-image: url(../img/asdd);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: ProximaNova;
  font-weight: bold;
}

  /* menu */
  
  header .left-container {
    display: flex;
    align-items: center;
    margin-left: 27px;
    color: #6f6f6f;
  }

  header .menu-button {
    padding-top: 7px; 
  }

  header .menu-button div {
    width: 33px;
    height: 1px;
    margin-bottom: 10px;
    background-color: #bea67c;
  }

  header .menu {
    display: block;
    padding-left: 10px;
    color: #6f6f6f;
    text-decoration: none;
    text-transform: uppercase;
  }

  header .menu-button:hover ~ .menu {
    color: #bea67c;
  }

  /* label "WOODER" */

  header .middle-container {
    display: flex;
    align-items: center;
  }

  header .main-name {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 35px;
    letter-spacing: 12px;
  }

  header .main-name:hover {
    color: #bea67c;
  }

  header .main-name div {
    position: absolute;
    top: 18px;
    left: 44px;
    width: 64px;
    height: 4px;
    background-color: #bea67c;
  }

  /* navigation */

  header nav {
    font-size: 15.5px;
  }

  header nav ul>li {
    display: inline-block;
    margin-left: 50px;
    list-style: none;
    color: #6f6f6f;
  }

  /* label-info*/

  header .right-container {
    display: flex;
    align-items: center;
    margin-right: 25px;
    color: #808080;
  }

  header .choose-lang {
    margin-left: 51px;
    list-style: none;
  }

  /* colorful link */

  header .right-container  a {
    text-decoration: none;
    color: #bea67c;
  }

  header a:hover {
    text-decoration: none;
    text-transform: uppercase;
    color: #bea67c;
  }

  header a {
    text-decoration: none;
    text-transform: uppercase;
  }

@media (min-width: 768px) and (max-width: 1200px) {
}

@media (min-width: 320px) and (max-width: 768px) {
}